#logo-box {
    display: flex;
}



.logo-star {    
    margin-top: auto;
    margin-bottom: auto;
    width: 30px;
}



.logo-long {
    display: block;
}

.logo-short {
    display: none;
}

.logo-joey {
    margin-top: 5px;
    margin-right: -3px;

    font-family: 'Pecita', sans-serif;
    font-size: 28px;
}

.logo-cheung {
    margin-top: 20px;
    margin-left: -5px;

    font-family: 'Pecita', sans-serif;
    font-size: 28px;
}



@media screen and (max-width: 800px) {
    .logo-short { 
        display: block; 
    }

    .logo-long {
        display: none;
    }

    .logo-joey {
        margin-top: -9px;
        margin-right: -10px;
    }

    .logo-cheung{
        margin-top: 23px;
        margin-left: -9px;    }
}