body{
    background-color: #12143B;
    font-family: Didot, serif;
    font-size: 18px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 90%;

    font-size: 100px;
    color: white;
}

p {
    margin-top: 0;
    margin-bottom: 0;

    color: #B0C9EB;
}

a {
    text-decoration: none;
    color: #728191;
}