#nav-entire {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 30px 30px;
    height: 45px;

    background-color: #12143B;
}





.nav-contents{
    margin-top: auto;
    margin-bottom: auto;
}

#nav-menu-icon {
    display: none;
}

.nav-ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.nav-links {
    display: inline-block;
    position: relative;
}

.nav-links:hover {
    color: #B0C9EB;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.nav-links::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom center;
    background-color: #B0C9EB;
    transition: transform 0.25s ease-out;
}
.nav-links:hover::after {
    transform: scaleX(1);
}

.current-page {
    color: #B0C9EB;
}



@media screen and (max-width: 700px) {
    #dropdown-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        z-index: -1;
        
        height: 100vh;
        padding-top: 150px;
        padding-right: 50px;

        text-align: right;
        background-color: #1E1E1E;    
    }

    #nav-menu-icon {
        display: block;
        width: 40px;
    }
    
    .nav-ul {
        flex-direction: column;
    }
}