
#title-box {
    position: relative;
    margin: auto;
    margin-top: 300px;
    padding-right: 10vw;
    width: fit-content;
}

#hi {
    margin-left: 0%;
}

#joey {
    margin-left: 15%;
}

#cheung {
    margin-left: 16%;
    margin-bottom: -30px;
}

#title-star {
    max-width: 10%;
    margin-left: 115%;
}

#slogan {
    margin-left:35%;
    margin-top: 20%;
}


#constellation {
    height: 100%;
    width: 100%;
    transform: scale(0.5);
}
#star1 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 50px;
    left: 425px;
    
}
#star2 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 125px;
    left: 225px;
}
#star3 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 145px;
    left: 500px;
}
#star4 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 325px;
    left: 435px;
}
#star5 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 355px;
    left: 400px;
}
#star6 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 375px;
    left: 365px;
}
#star7 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 700px;
    left: 290px;
}
#star8 {
    display: inline-block;
    position: absolute;

    width: 35px;
    top: 625px;
    left: 575px;
}

@media screen and (max-width: 700px) {
    #joey {
        font-size: 14vw;
    }
    #cheung {
        font-size: 14vw;
        margin-bottom: -4.5vw;
    }
    #hi {
        font-size: 2.6vw;
    }
    #title-star {
        width: 5vw;
    }
    #slogan {
        font-size: 2.6vw;
    }

}
