#title-box {
    position: relative;
    margin: auto;
    margin-top: 50dvh;
    translate: 0% -50%;
    width: fit-content;
}

#hi {
    margin-left: -18%;
    font-family: "Chonburi", serif;
    font-size: 14px;
}

#joey {
    margin-left: 0%;
}

#cheung {
    margin-left: 1%;
    margin-bottom: -30px;
}

#title-star {
    width: 20px;
    margin-top: 1%;
    margin-left: 100%;
}

#slogan {
    margin-top: 20%;
    text-align: center;
}



#constellation {
    height: 100%;
    width: 100%;
    transform: scale(0.5);
}
#star1 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 50px;
    left: 425px;
    
}
#star2 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 125px;
    left: 225px;
}
#star3 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 145px;
    left: 500px;
}
#star4 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 325px;
    left: 435px;
}
#star5 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 355px;
    left: 400px;
}
#star6 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 375px;
    left: 365px;
}
#star7 {
    display: inline-block;
    position: absolute;

    width: 25px;
    top: 700px;
    left: 290px;
}
#star8 {
    display: inline-block;
    position: absolute;

    width: 35px;
    top: 625px;
    left: 575px;
}



@media only screen and (max-width: 700px) {
    #title-box {
        margin-top: 25dvh;
    }

    #cheung {
        margin-bottom: -4.5vw;
    }

    #hi {
        font-size: 2vw;
    }

    #title-star {
        width: 2.9vw;
    }
    
    #slogan {
        font-size: 1.7vw;
    }

}
