body{
    background-color: #12143B;
    font-family: Didot, serif;
    font-size: 18px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 90%;

    font-size: 100px;
    color: white;
}

p {
    margin-top: 0;
    margin-bottom: 0;

    color: #B0C9EB;
}

a {
    text-decoration: none;
    color: #728191;
}



#nav-entire{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 1%;
    padding-right: 1%;
    
    display: flex;
    justify-content: space-between;
    z-index: 1;

    background-color: #12143B;
}





#logo-box {
    display: flex;
    margin-left: 40px;

    font-family: 'Pecita', sans-serif;
    font-size: 30px;
    font-weight: 50;
    color: #B0C9EB;
}

.logo-star {    
    margin-top: auto;
    margin-bottom: auto;
    width: 30px;
}

.logo-long {
    display: block;
}

.logo-short {
    display: none;
}

.logo-joey {
    margin-top: 8px;
    margin-right: -3px;
}

.logo-cheung {
    margin-top: 20px;
    margin-left: -3px;
}

@media screen and (max-width: 800px) {
    .logo-short { 
        display: block; 
    }
    .logo-long {
        display: none;
    }

    .logo-joey {
        margin-top: -7px;
        margin-right: -10px;
    }
    .logo-cheung{
        margin-top: 27px;
        margin-left: -8px;
    }
}





#nav-small-icon {
    display: none;
}

.nav-ul {
    display: flex;
    list-style-type: none;
}

.nav-buttons {
    margin-right: 40px;
}

@media screen and (max-width: 700px) {
   
    #nav-small-icon {
        display: block;
        margin-right: 40px;
        margin-top: 15px;
        width: 40px;
    }

    .nav-ul {
        display: flex;
        flex-direction: column;
        height: 1000px;
        margin-top: -100px;
        margin-right: -10px;
        padding-top: 100px;
        padding-right: 10px;

        background-color: #1E1E1E;
    }
    .nav-buttons {
        display: block;
        margin-top: 40px;
    }

    #dropdown-menu{
        display: none;
        position: absolute;
        right: 0;
        padding-right: 5px;
        text-align: right;
        z-index: -1;
    }
}
