body{
    background-color: #12143B;
}

#title {
    margin-top: 300px;
}

h1 {
    margin: 0;
    text-align: center;
    line-height: 90px;

    font-family: Didot, serif;
    font-size: 100px;
    color: white;
}

p {
    margin: 0;
    text-align: center;

    font-family: Didot, serif;
    font-size: 18px;
    color: #B0C9EB;
}

#hi {
    margin-right: 400px; 
}

#name {
    margin-right: 150px;
}

#slogan {
    margin-top: 75px;
}
