body{
    background-color: #12143B;
    font-family: Didot, serif;
    font-size: 18px;
}

#nav-box{
    position: fixed;
    padding-top: 40px;
    padding-right: 1%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;

    background-color: #12143B;
}

#logo {
    margin-left: 50px;
    width: 200px;
}
#small-logo { 
    display:none; 
}

.navbar {
    display: inline-block;
    margin-right: 40px;

    color: #728191;
}
#small-navbar {
    display: none;
}

@media screen and (max-width: 850px) {
    #small-logo { 
        display: block; 
        margin-left: 50px;
        width: 50px;
    }
    #logo {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    #joey {
        font-size: 14vw;
    }
    #cheung {
        font-size: 14vw;
    }
    #hi {
        font-size: 2.6vw;
    }
    #slogan {
        font-size: 2.6vw;
    }
    #small-navbar {
        display: block;
        margin-right: 40px;
        margin-top: 15px;
        width: 40px;
    }
    .navbar {
        display: inline-block;
        margin-top: 40px;
    }
    
    .dropdown-nav {
        position: relative;
        display: inline-block;
    }
    .dropdown-content-nav {
        display: none;
        position: absolute;
        right: 0;
        padding-right: 5px;
        z-index: 1;
        text-align: right;

        background-color: #12143B;
    }

    .dropdown-nav:hover .dropdown-content-nav {
      display: block;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    padding: 5px;
    z-index: 1;

    border-radius: 3px;
    background-color: #728191;
}
.dropdown:hover .dropdown-content {
  display: block;
}



#title {
    position: relative;
    margin: auto;
    margin-top: 300px;
    padding-right: 15vw;
    width: fit-content;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 90%;

    font-size: 100px;
    color: white;
}

p {
    margin-top: 0;
    margin-bottom: 0;

    color: #B0C9EB;
}

#hi {
    margin-left: 0%;
}

#joey {
    margin-left: 15%;
}

#cheung {
    margin-left: 16%;
}

#slogan {
    margin-left:35%;
    margin-top: 20%;
}
